:root {
 background: rgba(255, 255, 255, 1);
background: rgba(254, 209, 54, 1);
background: rgba(34, 34, 34, 1);
background: rgba(119, 119, 119, 1);
background: rgba(187, 187, 187, 1);
background: rgba(204, 204, 204, 1);
background: rgba(0, 0, 0, 0);
    --main-font: "Bilbo-Swash-Caps" , "sans-serif";
    --second-font: "Montserrat" , "sans-serif";
    --third-font: "RobotoSlab" , "sans-serif";

}