:root {
    --main-bg: rgba(255, 255, 255, 1);
    --secondary-bg: rgba(34, 34, 34, 1);
    --button-bg: rgba(254, 209, 54, 1);
    --form-bg: rgba(204, 204, 204, 1);
    /* -------------- */
    --logo-colour: rgba(254, 209, 54, 1);
    --icon-colour: rgba(254, 209, 54, 1);
    --nav-colour: rgba(254, 209, 54, 1);
    --main-title-colour: rgba(34, 34, 34, 1);
    --secondary-title-colour: rgba(255, 255, 255, 1);
    --subtitle-colour: rgba(34, 34, 34, 1);
    --service-text-colour: rgba(119, 119, 119, 1);
    --form-text-colour: rgba(187, 187, 187, 1);
    --button-text-colour: rgba(255, 255, 255, 1);
    /* ------------- */
       --main-font: "Bilbo-Swash-Caps" , "sans-serif";
       --second-font: "Montserrat" , "sans-serif";
       --third-font: "RobotoSlab" , "sans-serif";
   }
.header-logo {
    color:#FED136;
}
.header-link {
    color:#FED136;
}
.serices-description {
    color: #777777;
}
.contact-imput {
    color:#BBBBBB;
}
.contact-button {
    color: #FFFFFF;
    background-color: #FED136;
}
.contact {
    background-color: #222222;
}
.service-subtitle {
    color: #222222;
}
.services-title {
    color: #222222;
}